{% extends  'GFG.html' %}

{% block content %}
<html>
  <head>
    <style>
      *{
        background: url(https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg);
      }
    </style>
    </head>
<body>

<h3 id="head">Loged in as Doctor <span id="u_name"> Hello, {{request.user}}</span></h3>


<div style="display: flex;">
  
  <form action="" method="post" id="patient_signup">
    {% csrf_token %}

    <h3 id="form_head"> Doctor Registration Form</h3>
    <table border="5" >
    {{form}}
    </table>
      <div class="btn-block">
        <button type="submit">Submit</button>
      </div>

  </form>
<br>
</div>
</body>
</html>

{% endblock %}
